<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8" th:remove="tag">
</head>
<body>
<div layout:fragment="content">
    <h1>Edit Task</h1>
    <form method="post" th:action="@{/task/edit}" th:object="${formModel}">
        <input type="hidden" name="taskId" th:value="*{taskId}">
        <div class="mb-3">
            <label>Task Name</label>
            <input type="text" class="form-control" name="name" th:value="*{name}">
        </div>
        <div class="mb-3">
            <label>Task Details</label>
            <textarea class="form-control" name="comment" th:text="*{comment}"></textarea>
        </div>
        <div class="mb-3">
            <label>Status</label>
            <select th:field="*{completed}">
                <option th:value="false">Not Completed</option>
                <option th:value="true">Completed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <a th:href="@{/}">Back to Index</a>

</div>
<style layout:fragment="style"></style>
<script layout:fragment="script"></script>
</body>
</html>







<!--<!DOCTYPE html>-->
<!--<html lang="jp" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Task Manager Index</title>-->
<!--</head>-->

<!--<body>-->

<!--</body>-->

<!--</html>-->